*{
    margin: 0;
    padding: 0;

    font-family:Heiti TC ;
}
body{
    background: #ffe4c4;
    height: 100%;
}
#restaurantTitle{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 0 0 20px 20px;
    width: 30%;

    text-align: center;
    font-size: 40px;
    color: #6c3c22;

    background: #f6bc5e;
}
#cost{
    position: relative;

    margin-left:70%;
    margin-top: -40px;
}
#center{
    overflow: auto;

    text-align: center;
}
.people{
    margin-top: 60px;
    margin-left: 50px;
    display: inline-block;
}
.people img{
    float: left;
}
.content{
    float: left;

    margin-left: 20px;
    margin-right: 70px;
    padding: 20px;

    line-height: 20px;

    background: #f6e97a;
    color: #6c3c22;
}
ul{
    list-style-type: none;
}
#surplusCook ul li{
    white-space: pre-wrap;
}
.beginCook{
    display: none;
}
.c3{
    margin-right: 0;
}
.p1{
    margin-left: 0;
}
#noWaiter{
    display: none;
}
.openAndClose{
    position: relative;
    top:-30px;

    margin-left: 10%;
}
.openAndClose button{
    padding: 10px;
}
.addAndFire{
    margin-left: 4%;
}
.customer{
    float: right;
    margin-right: 3%;
}